<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load staticfiles %}
{% block head%}
  <head>
    <meta charset="utf-8">
    <title>ISTL {% block title %}{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static '/css/documento/input_number.css' %}">
    {% endblock stylesheets %}
  </head>
  {% endblock head %}

  <body>
    <div class="container ">
      <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand">
          <img src="{% static 'imagenes/logoistloja.png'  %}" height="35px">
        </a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="{% url 'index' %}" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="desplegable" href="#">Certificado</a>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Crear</a>
                <a href="#" class="dropdown-item">Ver</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    {% block body %}

    <a href="{% url 'documentos:credenciales' %}" class="btn btn-info">Certificados</a>
    {% endblock %}
  </body>
</html>
