{% load staticfiles %}
<div class="container-fluid">  
  <nav class="navbar navbar-expand-lg" style="background-color: #039a9b;">
    <a class="navbar-brand">
      <img src="{% static 'imagenes\index\logo_white.png'  %}" height="60px">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{% url 'index' %}" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="desplegable" href="#">Proyectos</a>
          <div class="dropdown-menu">
            <a href="{% url 'documentos:certificado_list' %}" class="dropdown-item">Todos</a>
            <a href="{% url 'documentos:certificado_create' %}" class="dropdown-item">Crear</a>
            <a href="{% url 'documentos:credenciales' %}" class="dropdown-item">Certificado</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="https://tecnologicoloja.edu.ec/" target="_blank" class="nav-link">ISTL</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
