{% extends "app/index.html" %}
{% load staticfiles %}
{% block title %}Certificado{% endblock title %}
{% block content %}
  {% if mensaje_error %}
    <div class="container">
      <div class="alert alert-danger" role="alert" align="center">
        Datos no Encontrados Revisa tus CREDENDCIALES
      </div>
      <div class="text-center">
        <a class="btn btn-info" href="{% url 'documentos:credenciales' %}">Volver</a>
      </div>
    </div>
  {% else %}
    {% if  input_cedula  and  input_codigo_certificado  %}
      <div align = 'center' class="container">
        <h1 >Certificado</h1>
        <div class = "col" align="center">
          <img  src="{% static 'imagenes/Sene.png' %}"  width="150" height="50">
        </div>
        <div class = "row">
          {% for entidad in entidad_emisora %}
            <div class = "col mt-5">
              <img  src="{{ entidad.logo.url }}"  width="100" height="100">
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class = "row">
        <div class = "col">
          <h1 class="display-4">CERTIFICA A:</h1>
          <h1 class="display-4">{{ usuario.nombre }} {{ usuario.apellido }}</h1>
          <h5>Por haber asistido a la Capacitación de {{ certificado.carrera }} bajo el Proyecto
          <strong>"{{ certificado.nombre }}"</strong>,en el barrio {{ certificado.barrio }},
            parroquia {{ certificado.parroquia }}, Cantón Loja; con una duración de {{ certificado.duracion }} horas. </h5>
        </div>
      </div>
      <div class = "row mt-5">
        {% for representante in entidad_emisora %}
          <div class = "col mt-5">
            <p class="mt-5">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
            <h5>{{ representante.representante }}</h5>
            <h6>{{ representante.institucion }}</h6>
          </div>
        {% endfor %}
      </div>

      <div class = "row mt-5">
        <div class="col-md-12 mt-5" align ="center" >
          <h6 class="display-6">Loja, {{ certificado.fecha_fin }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" align ="right" >
          <h4><strong>{{ certificado.codigo }}</strong></h4>
        </div>
      </div>
    </div>
   {% endif %}
{% endblock content %}
