{% extends "app/index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Editar Proyecto{% endblock title %}
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<div class="container col-md-7">
  <form class="" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 align="center">Editar Proyecto</h1>
    <div class="form-row">
        <div class="form-group col">
          {{ documento_form.nombre|as_crispy_field }}
        </div>
        <div class="form-group col">
          {{ documento_form.codigo|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
          <p><strong>{{ fecha_inicio }}</strong></p>
          {{ documento_form.fecha_inicio|as_crispy_field }}
        </div>
        <div class="form-group col">
          <p><strong>{{ fecha_fin }}</strong></p>
          {{ documento_form.fecha_fin|as_crispy_field }}
        </div>
        <div class="form-group col">
          {{ documento_form.hora|as_crispy_field }}
        </div>
        <div class="form-group col">
          {{ documento_form.duracion|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
          {{ documento_form.barrio|as_crispy_field }}
        </div>
        <div class="form-group col">
          {{ documento_form.parroquia|as_crispy_field }}
        </div>
        <div class="form-group col">
          {{ documento_form.carrera|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
          {{ documento_form.entidad_emisora|as_crispy_field }}
          <div class="text-center">
            <a href="{% url 'documentos:entidad_create' documento_pk %}" class="btn btn-info">+</a>
          </div>
        </div>
        <div class="form-group col">
          {{ documento_form.usuario|as_crispy_field }}
          <div class="text-center">
            <a href="{% url 'usuarios:usuario_create' documento_pk %}" class="btn btn-info">+</a>
          </div>
        </div>
    </div>
    <button type="success" name="button" class="btn btn-success">Guardar</button>
  </form>
</div>
{% endblock content %}
{% block javascripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript">
    $('.django-select2').select2({
        placeholder: 'Seleccione uno',
    });
  </script>
{% endblock javascripts %}
