{% extends "app/index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Crear Certificado{% endblock title %}
{% block body %}
  <div class="container mt-5">
    <form class="" action="" method="POST">
      <h1 align="center">Nuevo Participante</h1>
      {% csrf_token %}
      <div class="form-group">

        {{ usuario_form|crispy }}
      </div>
      <button type="success" name="button" class="btn btn-success">Guardar</button>
    </form>
  </div>
{% endblock body %}
