{% extends "app/index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Nuevo Participante{% endblock title %}
{% block content %}
  <div class="container col-md-5">
    <form class="" action="{% url 'usuarios:usuario_create' documento_pk%}" method="POST">
      <h1 align="center">Nuevo Participante</h1>
      {% csrf_token %}
      <div class="form-group">

        {{ usuario_form|crispy }}
      </div>
      <button type="success" name="button" class="btn btn-success">Guardar</button>
      <a href="{% url 'documentos:certificado_edit' documento_pk %}" class="btn btn-info" align="right">Volver</a>
    </form>
  </div>
{% endblock content %}
