{% extends "app/index.html" %}
{% load staticfiles %}
{% block title %}Certificado{% endblock title %}
{% block body %}
  {% if mensaje_error %}
    <div class="container">
      <div class="alert alert-danger mt-2" role="alert">
        Datos no Encontrados Revisa tus CREDENDCIALES
      </div>
      <a class="btn btn-info" href="{% url 'documentos:credenciales' %}">Volver</a>
    </div>
  {% else %}
    {% if  input_cedula  and  input_codigo_certificado  %}
    <div align = 'center' class="container">
        <h1 >Certificado</h1>
      <div class = "row">
        {% for entidad in entidad_emisora %}
          <div class = "col">
            <img  src="{{ entidad.logo.url }}"  width="100" height="100">
          </div>
          <div class = "col">
            <img  src="{% static 'imagenes/Sene.png' %}"  width="150" height="50">
          </div>
          <div class = "col">
            <img src="{{ entidad.logo.url }}" width="100" height="50">
          </div>
        {% endfor %}
      </div>
      <div class = "row">
        <div class = "col">
          <center><h1 class="display-4">CERTIFICA A:</h1></center><p>
            <center><h1 class="display-4">{{ usuario.nombre }} {{ usuario.apellido }}</h1></center><p>
            <h5>Por haber asistido a la Capacitación de {{ certificado.carrera }} bajo el Proyecto <strong>"{{ certificado.nombre }}"</strong>,
              en el barrio BARRIO, parroquia PARROQUIA, Cantón Loja; con una duración de {{ certificado.duracion }} horas. </h5><p>
        </div>
      </div>

      <div class = "row mt-5">
        <div class = "col-md-6 mt-5">
          <p class="mt-5">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
          <h5>{{ entidad_receptora.representante }}</h5>
          <h6>{{ entidad_receptora.institucion }}</h6>
        </div>
        <div class = "col-md-6 mt-5">
          <p class="mt-5">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
          <h5>{{ entidad_emisora.representante }}</h5>
          <h6>{{ entidad_emisora.institucion }}</h6>
        </div>
      </div>
      <div class = "row mt-5">
        <div class="col-md-12 mt-5" align ="center" >
          <h6 class="display-6">Loja, Fecha</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" align ="right" >
          <h4><strong>{{ certificado.codigo }}</strong></h4>
        </div>
     </div>
     {% endif %}
  {% endif %}
{% endblock body %}
